.teacherListItem {
  display: flex;
  align-items: flex-start;
  gap: 48px;
  padding: 24px;
  width: 1184px;

  background-color: var(--white);
  border-radius: 24px;
}

.teacherImageContainer {
  position: relative;

  border: 3px solid var(--light-yellow);
  border-radius: 100px;
  width: 120px;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.teacherImage {
  border-radius: 100px;
  width: 96px;
  height: 96px;
}

.isOnlineImage {
  position: absolute;
  top: 15px;
  right: 19px;
}

.firstInformation {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.languagesInfo {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-right: 64px;
}

.languagesInfo li {
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
}

.languagesInfo li:not(:first-child)::before {
  content: "";
  display: inline-block;
  height: 14px;
  width: 1px;
  background-color: #d1d1d1;
  margin: 0 8px;
}

.teacherName {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 32px;
}

.globInfType {
  font-weight: 500;
  line-height: 1.5;
  color: var(--gray);
}

.levelLangContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

.levelLangContainer > *:not(:first-child) {
  border: 1px solid #12141733;
}

.levelLangContainer > *:nth-child(1) {
  background: var(--yellow);
}

.readMoreBtn {
  font-weight: 500;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;

  margin-bottom: 32px;
}

.levelLang {
  border-radius: 35px;
  padding: 8px 12px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
}

/* reviews */

.reviewItem {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 16px;
  margin-bottom: 32px;
}

.reviewerInformation {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.ratingBlock {
  display: flex;
  align-items: center;
  gap: 8px;
}

.reviewerImage {
  border-radius: 100px;
  width: 44px;
  height: 44px;
}

/* book trial */

.bookTrialBtn {
  border-radius: 12px;
  padding: 16px 48px;
  background: var(--yellow);

  font-weight: 700;
  font-size: 18px;

  transition: all var(--animation);
}

.bookTrialBtn:hover,
.bookTrialBtn:focus {
  scale: 1.02;
  opacity: 0.9;
}

/* Modal */

.modalContainer {
  padding: 64px;
}

.modaltitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.modalDescription {
  line-height: 1.375;
  color: rgba(18, 20, 23, 0.8);
}

.modalTeacherContainer {
  display: flex;
  align-items: start;
  gap: 14px;
}

.yourTeacher {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: var(--gray);
}
