/* variables */

:root {
  --white: #fff;
  --dark: #121417;
  --light-yellow: #fbe9ba;
  --yellow: #f4c550;
  --smooth-yellow: #ffdc86;
  --light-gray: #f8f8f8;
  --gray: #8a8a89;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* some settings */

html,
body {
  position: relative;
  overflow-x: hidden;
}

textarea:focus,
select:focus,
input:focus {
  outline: 0;
}

button {
  cursor: pointer;
}

/* body */

body {
  font-family: "Roboto Medium", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.4;

  background-color: var(--white);
  color: var(--dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

/* container */

.container {
  min-width: 320px;
  max-width: 1440px;
  width: 100%;
  padding: 0 64px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* base component style */

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
}

.noScroll {
  overflow: hidden;
  height: 100%;
}
